* {
  margin: 0;
  padding: 0;
  border: 0;
}

#barra {
    z-index:99999;
}

#navbar {
    font-size: 15px;
}

#slide-wrap {
    margin-top: -30px;
}

#loginButton {
    display:inline-block;
    background:#ffffff url(../images/buttonbg.png) repeat-x;
    border:1px solid #899caa;
    border-radius:3px;
    -moz-border-radius:3px;
    /* position:relative; */
    z-index:999999;
    cursor:pointer;
    margin-top: 7px;
    margin-right: 7px;
    position: absolute;
    top: 0;
    right: 0;
}

#loginButton span {
    color:#445058;
    font-size:15px;
    font-weight:bold;
    text-shadow:1px 1px #fff;
    padding:7px 10px 7px 10px;
    background:url(../images/loginArrow.png) no-repeat 53px 7px;
    display:block
}

#loginButton:hover {
    background:#d2e0ea url(../images/buttonbgHover.png) repeat-x;
}

body {
  background: #ecf0f1;
  font-family: sans-serif;
  margin: 0 auto;
}

p {
  color: #524c56;
  font-size: 160%;
  line-height: 155%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}

h3 {
  font-size: 175%;
  line-height: 155%;
  font-weight: 500;
  color: #524c56;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
}

a {
  color: #524c56;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #c3d7df;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: -4px;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#banner-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 3% 0;
}

header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
}

header #logo img{
  margin: -10px;
  float: left;
  width: 130px;
}

/* NAVIGATION*/
/* nav {
  float: right;
  padding: 40px 20px 0px 0px;
}

#menu-icon {
  display: none;
  font-size: 50px;
}

ul {
  list-style: none;
}

nav ul li {
  position: relative;
  font-size: 150%;
  display: inline-block;
  float: left;
  padding: 10px;
  z-index: 10;
  perspective: 300px;
}

nav ul li a {
  color: #6991AC;
} */

/* SUBMENU*/
/* .submenu{
    position: absolute;
    font-size: 50%;
    background: #f5f5f5;
    border: 1px solid #a5bdcd;
    width: 84%;
    visibility: hidden;
    opacity: 0;
    transform: rotateY(240deg) scale(0);
    transition: all 1.5s;
    margin-top: 5px;
}

.submenu:before{
    content: "";
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 8px solid #a5bdcd;
    position: absolute;
    margin-top: -8px;
    margin-left: 12px;
}

.submenu li a {
    text-align: center;
    width: 100%;
    display: block;
    padding: 1px;
    color: #6991AC;
    text-decoration: none;
}

.submenu li a:hover {
    color: #a5bdcd;
}

.menu li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0deg) scale(1);
    transition: all 1.5s;
}

.current {
  color: #3F5767;
}

a:hover {
  color: #a5bdcd;
} */
/*
.slider {
  max-width: 1200px;
}

.slider img {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}*/

.one-third {
  width: 31.5%;
  float: left;
  padding: 10px;
  text-align: center;
}

.icon-wrap {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 125px;
  text-align: center;
  margin-bottom: 10%;
}

.icon-wrap i {
  text-align: center;
  color: #ffffff;
  font-size: 100%;
  padding: 20%;
}

/* SECTION 2*/
.left-col {
  float: left;
  margin: 0 auto;
  width: 60%;
  height: auto;
  padding: 1%;
}

.sidebar {
  float: right;
  margin: 0 auto;
  width: 32%;
  height: auto;
  padding: 1%;
}

/* ONE THIRD PADDING*/
.one-third-padding {
  width: 29%;
  float: left;
  margin: 2% 2%;
}

.clearfix-padding {
  clear: both;
  padding: 2%;
}

footer {
  background: #2c3e50;
  width: 100%;
  overflow: auto;
}
.icon-text {
  width: 100%;
  margin: 0 auto;
}

.icon-text-icon {
  float: left;
  width: 30%;
  padding: 4%;
}
.icon-text-text {
  float: left;
  width: 60%;
  padding: 4% 4% 2% 0;
  font-size:
}

.footer-nav {
  text-align: right;
}

.footer-nav a {
  font-size: 160%;
  color: #c3d7df;
  font-weight: 300;
}

.footer-nav a:hover {
  color: #f5f5f5;
}

.social {
  list-style-type: none;
  text-align: center;
}

.social li {
  display: inline;
}

.social i {
  font-size: 420%;
  margin: 1%;
  padding: 5%;
  color: #c3d7df;
}

.social i:hover {
  color: #f5f5f5;
}

.footer-second {
  border-top: 1px solid #aadcd2;
  text-align: center;
  margin: 0;
}
.footer-second p, .footer-second a {
  text-align: center;
  color: #fff;
  font-size: 90%;
  line-height: 50%;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 130%;
  }
  h3 {
    font-size: 150%;
  }
  header {
    height: 90px;
    position: relative;
  }
  header #logo {
    margin: 0px 0 0px 10px;
  }

  #navbar {
      font-size: 13px;
  }

  #menu-icon {
    display: inline-block;
    margin-top: -6px;
    margin-right: 100px;
  }

  #loginButton {
      display:inline-block;
      background:#ffffff url(../images/buttonbg.png) repeat-x;
      border:1px solid #899caa;
      border-radius:3px;
      -moz-border-radius:3px;
      position:relative;
      z-index:99999;
      cursor:pointer;
      margin-top: 9px;
      margin-right: 80px;
      position: absolute;
      top: 0;
      right: 0;
  }

  #loginButton span {
      color:#445058;
      font-size:13px;
      font-weight:bold;
      text-shadow:1px 1px #fff;
      padding:7px 10px 7px 10px;
      background:url(../images/loginArrow.png) no-repeat 53px 7px;
      display:block
  }

  #loginButton:hover {
      background:#d2e0ea url(../images/buttonbgHover.png) repeat-x;
  }

  /* nav:hover ul {
    display: block;
  }

  nav ul, nav:active ul {
    display: none;
    z-index: 1000;
    position: absolute;
    padding: 30px;
    background: #f5f5f5;
    border: 1px solid #a5bdcd;
    right: 50px;
    width: 30%;
    opacity: .95;
  }
  nav li {
    text-align: center;
    width: 100%;
  }

  .submenu{
      right: 195px;
      top: -20px;
      position: absolute;
      font-size: 50%;
      background: #f5f5f5;
      border: 1px solid #a5bdcd;
      width: 80%;
      padding: 20px;
      visibility: hidden;
      opacity: 0;
      transform: rotateY(240deg) scale(0);
      transition: all 1.5s;
      margin-top: 5px;
  }

  .submenu li{
      text-align: center;
      width: 100%;
  }

  .submenu:before{
      content: "";
      width: 0;
      height: 0;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-bottom: 8px solid #a5bdcd;
      position: absolute;
      margin-top: 15px;
      margin-left: 80px;
      transform: rotate(90deg);
  } */

  .one-third {
    float: left;
    width: 100%;

  }
  .icon-wrap {
    height: 100px;
    width: 100px;
    margin-top: 3%;
  }

  .icon-wrap i {
    font-size: 100%;
    padding-top: 27%;
  }

  .left-col {
    width: 100%;
    padding: 0;
  }

  .sidebar {
    width: 100%;
  }

  .one-third-padding {
    width: 98%;
    margin: 0;
    padding: 1%;
  }

  .icon-text-icon {
    width: 100%;
    padding: 0 0 2% 0;
  }

  .icon-text-text {
    width: 100%;
    padding: 2% 0 0 0;
    font-size: 80%;
  }

  .footer-nav {
    margin: 0 auto;
    text-align: center;
    padding: 5%;
  }

  .footer-nav li {
    padding: 1%;
  }

}
